cloud_id                 = "sdoifsn129jfkaldlsfj"
folder_id                = "l0ajfdaisofpdsnadfd"
service_account_key_file = "key.json"
zone                     = "ru-central1-b"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
image_id                 = "asl1321238ksalfjlasd"
subnet_id                = "aslfjasfuaslfjmlasff"
instance_count           = 1
app_disk_image           = "app_disk_image"
db_disk_image            = "db_disk_image"

